<div class="container">

  <div class="legal-page-content">
    <p>
      Conformément aux dispositions de l'article 6 III 1 de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, nous vous informons que le présent site est édité par la société BXP :
    </p>
    <h4>Siège social</h4>
    <p>
      3 avenue d'Argenteuil 92600 Asnières-sur-Seine - FRANCE
    </p>
    <h4>Représentant légal</h4>
    <p>
      Laurence Roy - Présidente | contact@bxp-conseil.fr
    </p>
    <h4>Immatriculation</h4>
    <p>
      Immatriculation au Registre du commerce et des sociétés de Nanterre 92<br>
      Numéro d’immatriculation de l’entreprise : 881 691 208 00014
    </p>
    <p>
      Société par actions simplifiées<br>
      Numéro d’identification TVA : FR 36881691208
    </p>
    <h4>Directeur de la publication</h4>
    <p>
      Laurence Roy
    </p>
    <h4>Hébergeur du site</h4>
    <p>
      Heroku Incorporeted •  650 7th St, San Francisco, CA, 94103, United States <br>
      https://www.heroku.com/contact <br>
      Serveur localisé en Union Européenne <br>
    </p>

  </div>



</div>
