/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

$bluebxp:#215CFE;
$darkbluebxp:#040462;
$pinkbxp:#DD7572;
$beigebxp:#FAF0E6;
$darkbluebtn:#0747f7;

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin:0;
}

h1, h2, h3, ul{
  margin:0;
}

p{
  margin: 0;
  line-height: 1.7em;
}

a{
  color:black;
  text-decoration: none;
}

a:visited{
  color:black;
}

a:hover{
  color: $bluebxp;
}

.slider{
  width: 100%;
  display: block;
}

// ***********************************
// ***********************************

.container{
  margin: 0 auto;
  width: 1200px;
}

.header{
	// z-index:1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  height: 65px;
  padding: 10px 0 0 0;
}

.header-logo{
  width: 100px;
  height: 47px;
}

.header_mobile_menu_cta{
  display: none;
}

#header-menu{
  list-style-type: none;
  display: inline;
  margin: 0;
	padding: 0;
}

#header-menu li{
  display: inline;
  padding-left: 30px;
}

.btn-contact-menu{
  text-align: center;
  width: 180px;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: $bluebxp;
  margin-bottom: 50px;
  border-radius: 7px;
  font-weight: 700;
  color: white !important;
}

.btn-contact-menu:hover{
  background-color: $darkbluebtn;
  cursor: pointer;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: grey;
  margin-bottom: 20px;
}

.footer > a{
  text-align: right;
  width: 190px;
  color: grey;
}

.logo-footer{
  width: 46px;
  height: 46px;
}

@media (max-width: 767px) {
	body{
		overflow-x: hidden;
    // background-color: yellow;
	}
	.container{
		width:100%;
	}
  .header{
    z-index:1;
    // background-color: pink;
  }
  .header-logo{
    margin-left: 20px;
  }
  #header-menu{
    z-index:1;
    display: none;
    margin-top: 10px;
		width: 120%;
    -webkit-box-shadow: 0px 1px 5px 1px #DDDDDD;
    box-shadow: 0px 1px 5px 1px #DDDDDD;
  }
  #header-menu li{
    display: block;
    height: 70px;
		display: flex;
		align-items: center;
		padding-left: 30px;
		font-weight: 500;
    background-color: #e9efff;
  }
  .btn-contact-menu{
    background-color: transparent !important;
    border-radius: 0;
    padding: 0px 0px;
    color: black !important;
    font-weight: inherit !important;
    margin: 0 !important;
    text-align: left;
    width: auto !important;
    margin-bottom: 50px;
  }

  .btn-contact-menu:hover{
    background-color: $darkbluebtn;
    cursor: pointer;
  }
  .header_mobile_menu_cta{
    display: block;
    color:white;
    background-color: $bluebxp;
    border-radius: 7px;
    padding: 10px 20px;
    margin-right: 20px;
  }
  .footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 8px;
    width: 100%;
    color: grey;
    margin-bottom: 20px;
  }
  .footer > a{
    text-align: right;
    color: grey;
    width: auto;
  }
  .logo-footer{
    width: 23px;
    height: 23px;
  }
  .slider{
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
	body{
		overflow-x: hidden;
	}
	.container{
		width:100%;
	}
  .header{
    padding: 10px 30px 0 30px;
  }
  .footer > p{
    padding-left: 30px;
  }
  .footer > a{
    text-align: right;
    padding-right: 30px;
    color: grey;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
	body{
		overflow-x: hidden;
	}
	.container{
		width:100%;
	}
  .header{
    padding: 10px 30px 0 30px;
  }
  .footer > p{
    padding-left: 30px;
  }
  .footer > a{
    text-align: right;
    padding-right: 30px;
    color: grey;
  }
}
