// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$bluebxp:#215CFE;
$darkbluebxp:#040462;
$pinkbxp:#DD7572;
$lightpinkbxp:#dd75722e;
$beigebxp:#FAF0E6;

.darkblueborders{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: 10px solid $darkbluebxp;
  border-right: 10px solid $darkbluebxp;
  border-bottom: 10px solid $darkbluebxp;
}

.pinkbottomborder{
  border-bottom: 10px solid $pinkbxp;
}

.pinkbg{
  background-color: $beigebxp;
}

.container-header{
  position: relative;
  margin: 20px auto 30px auto;
  text-align: center;
  padding-top: 20px;
}

.extrasmall {
  width: 140px;
}

.small {
  width: 300px;
}

.large {
  width: 710px;
}

.ticker{
  position: absolute;
  width: 80px;
  height: 4px;
  background-color: $pinkbxp;
  top: 55px;
}

.tagline-panel{
  margin: 60px 90px 30px 90px;
}

.tagline-panel h1{
  color: $darkbluebxp;
}

.tagline-panel > p{
  margin: 15px 0 0 15px;
  font-style: italic;
  color: grey;
}

.highlight1{
  background-color: $beigebxp;
  color: $darkbluebxp;
}

.highlight2{
  color: $pinkbxp;
  background-color: white;
}

.first-panel{
  // height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0 20px 0;
}

.first-panel > .right-content{
  background-color: #faf0e62b;
  width: 500px;
  height: 300px;
}

.first-panel p{
  width: 440px;
  margin-bottom: 25px;
}

.left-content p{
  font-size: 16px;
}

.second-panel{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px 0 40px 0;
}

.second-panel p{
  text-align: center;
}

.third-panel{
  // height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0 50px 0;
}

.big-card{
  width: 330px;
  height: 325px;
  background-color: white;
  border-radius: 5px;
  padding: 30px 40px;
  -webkit-box-shadow: 0px 1px 5px 1px #DDDDDD;
  box-shadow: 0px 1px 5px 1px #DDDDDD;
}

.big-card > h3{
  color: $bluebxp;
  margin-bottom: 25px;
  text-align: center;
}

.big-card > ul{
  margin-left: -15px;
  line-height: 1.7em;
  font-size: 14px;
  color:$darkbluebxp;
}

.big-card > p{
  padding-bottom: 20px;
  font-size: 14px;
}

.fourth-panel{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 0 40px 0;
}

.fourth-panel p{
  width: 600px;
  text-align: center;
}

.subtitle{
  font-weight: 800;
  color: $pinkbxp;
}

.fifth-panel{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0 50px 0;
}

.small-card{
  width: 200px;
  height: 230px;
  background-color: white;
  border-radius: 5px;
  padding: 30px 40px;
  -webkit-box-shadow: 0px 1px 5px 1px #DDDDDD;
  box-shadow: 0px 1px 5px 1px #DDDDDD;
}

.small-card > p{
  font-size: 14px;
}

.small-card > h3{
  font-size: 15px;
  color: $bluebxp;
  margin-bottom: 25px;
  text-align: center;
}

.sixth-panel{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 0 50px 0;
}

.sixth-panel > p{
  text-align: justify;
  width: 700px;
  padding: 30px 0 50px 0;
}

.medium-card{
  width:220px;
  padding: 20px 60px;
  text-align: center;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.medium-card > p{
  margin-top:10px;
}

.medium-card:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.btn-demo{
  text-align: center;
  width: 180px;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: $bluebxp;
  margin-bottom: 50px;
  border-radius: 7px;
  font-weight: 700;
  color: white;
}

.btn-demo:hover{
  background-color: $darkbluebxp;
  cursor: pointer;
}

.avatar{
  width: 145px;
  height: 145px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.linkedin{
  width: 14px;
  height: 14px;
  margin-left: 10px;
}

.teammate-card{
  width:220px;
  padding: 20px 60px;
  text-align: center;
  font-weight: 700;
}

.teammate-card > a > p{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.teammate-card > p:hover{
  color: $bluebxp;
  cursor: pointer;
}
